.body{
  margin: 0px;
  padding: 0px;
  justify-content: center;
  align-items: center;
}


.boundary {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 600px;
    background-color: rgb(31, 31, 31);
    
    flex-direction: column; /* Add this line to center align items vertically */
    border-radius: 7%;
    border: 3px solid rgb(144, 144, 144);
}

h1, h2 {
    position: relative;
    text-align: center;
    font-family: Lemon Milk;
    text-transform: uppercase;
    font-weight: bold;
}

h1 {
    
    color: rgb(2, 101, 31);
    font-size: 40px;
    line-height: 10px;
}

h2 {
    color: rgb(29, 52, 255);
    font-size: 20px;
}

.button{
    min-width: 70px;
    height: 70px;
    position:relative;
    max-width: 70px;
    font-size: 30px;
    border: 2px solid rgb(221, 221, 221);
    color: rgb(32, 32, 32);
    background-color: rgb(243, 179, 31);
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    cursor: pointer;
    margin: 2px;
    margin-top: 8px; /* Add margin-top to create spacing between buttons */
}
.button:hover{
    background-color: aliceblue;
    color: rgb(243, 179, 31);
    transform: scale(0.9);
    transition-duration: 0.2s;
}
.text-center{
    text-align: center;
  }
  .flex{
    display:flex;
  } 
  .flex-col{
    flex-direction: column;
  }
  
  .items-center{
    align-items: center;
  }
  .container{
    margin-top: 55px;
  }

.input{
    position: relative;
    width: 290px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 25px;
}